@mixin flex-column ($a-i:center){
    display: flex;
    flex-direction: column;
    align-items: $a-i;
    align-content: space-between;
}

@mixin flex-row ($a-i:center, $j-c: center){
    display: flex;
    flex-direction: row;
    justify-content: $j-c;
    align-items: $a-i;
    flex-wrap: wrap;
}