.kasa-navbar{
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    padding:15px;
    img{
        width: 30%;
        max-width: 250px;
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-left: 0;
        width: 20%;
        gap: 20%;
        text-decoration: none; 
        
        @media screen and (max-width: 900px){
            text-transform: uppercase;
            width: 30%;
        }
        @media screen and (max-width:768px){
            width : 40%;
        }
        @media screen and (max-width: 576px) {
            width: 50%;
            font-size : 0.8em;
        }
        @media  screen and (max-width: 425px) {
            font-size: 0.7em;
        }
    }
    a{ 
        text-decoration: none;
        color: $color-primary;
   }
}